<router-outlet></router-outlet>
<div class="title-box">
  <h1>Books!</h1>
</div>
<div class="header-box">
  <button mat-button (click)="reset()" class="reset-button">Reset Data</button>
  <div>
    <mat-form-field>
      <input matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </div>
</div>

<div class="table-container">
  <table mat-table [dataSource]="bookDataSource" matSort matSortActive="author" class="mat-elevation-z8" class="table" (matSortChange)="sortData($event)">
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc">Author</th>
      <td mat-cell *matCellDef="let book">{{ book.author }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc">Title</th>
      <td mat-cell *matCellDef="let book">{{ book.title }}</td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc">Genre</th>
      <td mat-cell *matCellDef="let book">{{ book.genre }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc">Price</th>
      <td mat-cell *matCellDef="let book">{{ book.price | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="publishDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc">Publish Date</th>
      <td mat-cell *matCellDef="let book">{{ book.publishDate }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef class="unsortable-header">Description</th>
      <td mat-cell *matCellDef="let book" (click)="getDescription(book.id)">
        <mat-icon class="description-icon-color">description</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="unsortable-header">Delete</th>
      <td mat-cell *matCellDef="let book" (click)="delete(book.id)">
        <mat-icon class="delete-icon-color">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="bookTableHeaders"></tr>
    <tr mat-row *matRowDef="let row; columns: bookTableHeaders"></tr>
  </table>
</div>